
.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
}

.header {
  max-height: 10%;
}

.game {
  height: 90%;
  flex-direction: column;
  display: flex;
}

.keyboard-container {
  display: flex;
  justify-content: center;
  margin: 0 0 15px 0;
  align-items: center;
}

.app {
  height: 90vh
}