.ui.modal>.stats-content {
  display: flex;
}

.stat-item {
  width: 50%;
}

.ui.progress.stat-bar {
  background: none;
  display: flex;
  flex-grow: 1;
  margin: 5px 0 0 5px;
  
}

.score-item-container {
  align-items: stretch;
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  text-align: center;
  flex-direction: column;
  height: 100%;
}

.score-item {
  display: flex;
  font-size: 2em;
  flex-grow: 1;
  flex-direction: column;
}

.score-row {
  display: flex;
  flex-wrap: nowrap;
  vertical-align: bottom;
}